<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.mapper.XiangQingMapper">

	<!-- 根据销量显示当前菜品排行前5的菜品信息 -->
	<select id="findxiangqing" resultType="CaiDanPojo" parameterType="int">
		select * from caidanbiao where caiDanId=#{caiDanId}
	</select>
</mapper>