<!doctype html>
<html>
<head>
	<title>订餐管理</title>
<meta charset="utf-8"/>
</head>
	<!--框架集和框架标签   
	frameset:定义一个框架集 
	frame:定义一个框架窗口-->
	<frameset rows="20%,80%" frameborder="0">  <!--按行分块儿: 上下两行上面一行14%,下面一行86% frameborder默认值为1,表示有边框,设置为0表示没有边框-->
	<frame src="_top.html" id="test" name="" noResize scrolling="no"/>
	<!--按列分块儿:左边180px,右边未知-->
	<frameset cols="300px,*" >
		<frame src="_left.html" id="test" name="" />
		<frame src="_right.html" id="test" name="rightFrame" />
	</frameset>
		
	</frameset>
<body>
	
</body>
</html>