<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title></title>
		<link href="css/diancan.css" type="text/css" rel="stylesheet" />
		
	</head>
	<body background="img/10086.png"> 
		<div class="top">
			<ul>
				<li><input class="sy" value="首页" type="button"/></li>
				<li><input class="dc" value="点餐" type="button" /></li>
				<li><input class="grzh" value="个人账户" type="button" /></li>
				<li><input class="jyyj" value="建设意见" type="button" /></li>
				<li><input class="text" type="text" placeholder="请输入菜品名称" /><input class="ss" value="搜索" type="button" /></li>
			</ul>
			<br/>
			<td><img src="img/first.png" class="round" /></td>
		</div>
		<script src="js/jquery-1.4.2.js"></script>
		
	</body>
</html>
